$queerland-purple: #9e66a3;
$white: #fff;

$primary: $queerland-purple;
$primary-light: #d1a3fe;
$primary-invert: $white;

$link: #577994;
$hover: #577994;

$body-color: #333;
$black: #2b2523;
$grey: #403a38;
$white-ter: #e9e9e9;

$rainbow: (#9C4F96, #FF6355, #FBA949, #FAE442, #8BD448, #2AA8F2);
// Rainbow gradient idea from Sarah Fossheim: https://fossheim.io/
$rainbow-gradient: linear-gradient(90deg, $rainbow);
