@import './_colors';

// Donate button link
.donate-button {
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  background-color: $forest;
  color: white;
  font-weight: bold;

  &:hover {
    background-color: $brunswick;
    color: white;
  }
}
