/**
  * Extending bulma navbar styles
  *
  * Rainbow gradient idea from Sarah Fossheim: https://fossheim.io/
  **/

$rainbow-gradient: linear-gradient(90deg, #9C4F96, #FF6355, #FBA949, #FAE442, #8BD448, #2AA8F2);

.navbar-brand {
  a {
    background-image: linear-gradient(transparent 60%, purple 60%);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    transition: background .35s;

    &:hover {
      color: white;
      background-color: transparent;
      background-size: 100% 100%;
    }
  }
}

.navbar-menu {
  a {
    color: black;
    transition: padding .35s, top .35s;
    position: relative;
    background-color: transparent;
    border-style: solid;
    border-width: 0;

    &:hover {
      top: -5px;
      // padding-bottom: 10px;
      border-bottom-width: 3px;
      border-image: $rainbow-gradient 1;
    }
  }
}
